section {
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;

    .picture {
        img {
            width: 600px;
            height: auto;
        }
    }

    .infoDetail {
        padding: 0 4rem;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;

        h1 {
            font-size: 2.3em;
            font-weight: 700;
            margin: 0px 0px 20px 0px;
        }

        .wrap {
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;

            .list1 {
                width: 55%;

                li {
                    margin: 15px 0px;

                    b {
                        font-weight: 700;
                        margin-right: 5px;
                    }
                }
            }

            .list2 {
                width: 45%;

                li {
                    margin: 15px 0px;

                    b {
                        font-weight: 700;
                        margin-right: 5px;
                    }
                }
            }

            .borderC {
                margin-top: 50px;
                width: 100%;

                b {
                    font-weight: 700;
                    margin-right: 5px;
                }
            }
        }
    }
}