section {
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    color: inherit;

    .picture {
        img {
            width: 600px;
            height: auto;
        }
    }

    .infoDetail {
        padding: 0 4rem;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;

        h1 {
            font-size: 2.3em;
            font-weight: 700;
            margin: 0px 0px 20px 0px;
        }

        .wrap {
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;

            .list1 {
                width: 55%;

                li {
                    margin: 15px 0px;

                    b {
                        font-weight: 700;
                        margin-right: 5px;
                    }
                }
            }

            .list2 {
                width: 45%;

                li {
                    margin: 15px 0px;

                    b {
                        font-weight: 700;
                        margin-right: 5px;
                    }
                }
            }

            .borderC {
                margin-top: 50px;
                width: 100%;

                b {
                    font-weight: 700;
                    margin-right: 5px;
                }

                li {
                    margin-top: 10px;
                    display: flex;
                    flex-wrap: wrap;

                    .borders {
                        margin: 5px;
                        padding: 0px 1rem;
                        // background-color: #202c37;
                        background-color: inherit;
                        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                        line-height: 1.5;
                        cursor: pointer;
                        border-radius: 5px;

                        &:hover {
                            opacity: 0.8;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1240px) and (min-width: 980px) {
    section {
        .infoDetail {
            padding: 0 2rem;

            .wrap {
                display: flex;
                align-items: flex-start;
                flex-wrap: nowrap;
                flex-direction: column;

                .list1 {
                    width: 100%;
                }

                .list2 {
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: 980px) and (min-width: 320px) {
    section {
        flex-direction: column;

        .picture {
            img {
                width: 80%;
                height: auto;
            }
        }

        .infoDetail {
            width: 100%;
            padding: 2rem 0;

            .wrap {
                display: flex;
                align-items: flex-start;
                flex-wrap: nowrap;
                flex-direction: column;

                .list1 {
                    width: 100%;
                }

                .list2 {
                    width: 100%;
                }
            }
        }
    }
}