@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');
/* Typography */
$family: 'Nunito Sans',
sans-serif;
$fs-sm: 14px;
$fs-md: 16px;
$fw-light: 300;
$fw-normal: 600;
$fw-bold: 800;

/* Other */
$radii: 0.5rem;

// dark
$colors-text-dark: hsl(0, 0%, 100%);
$colors-bg-dark: hsl(207, 26%, 17%);
$colors-ui-base-dark: hsl(209, 23%, 22%);
$shadow-dark: rgba(245, 245, 245, 0.2)0 0 8px;
// light
$colors-text-light: hsl(200, 15%, 8%);
$colors-bg-light: hsl(0, 0%, 98%);
$colors-ui-base-light: hsl(0, 0%, 100%);
$shadow-light: rgba(149, 157, 165, 0.2)0px 8px 24px;