@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');
/* Typography */
$family: 'Nunito Sans',
sans-serif;
$fs-sm: 14px;
$fs-md: 16px;
$fw-light: 300;
$fw-normal: 600;
$fw-bold: 800;

/* Other */
$radii: 0.5rem;

// body[data-theme=light] 
$colors-text-light: #111517;
$colors-bg-light: #fafafa;
$colors-ui-base-light: #fff;
$colors-ui-alt-light: #858585;
$shadow-light: rgba(149, 157, 165, 0.2) 0px 8px 24px;

// body[data-theme=dark] 
$colors-text-dark: #fff;
$colors-bg-dark: #202c37;
$colors-ui-base-dark: #2b3945;
$colors-ui-alt-dark: #fff;
$shadow-dark: hsla(0, 0%, 96.1%, 0.2) 0 0 8px;

// ## Layout
$sm-display-size : 375px;
$md-display-size : 920px;
$lr-display-size : 1440px;