@import"./vars";

.container {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.light {
    background: $colors-bg-light;
    background-color: $colors-ui-base-light;
    color: $colors-text-light;
}

.dark {
    background: $colors-bg-dark;
    background-color: $colors-ui-base-dark;
    color: $colors-text-dark;
}