@import-normalize;
@import"./containers/App/vars";

* {
    box-sizing: border-box;
}


body {
    margin: 0px;
    font-family: $family;
    color: $colors-text;
    font-weight: $fw-light;
    background-color: $colors-bg;
}