@import"./containers/App/reset";
@import"./containers/App/normalize";
@import"./containers/App/vars";

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: $family;
    font-weight: $fw-light;
}