@import'../App/vars';

header {
    // box-shadow: $shadow-dark;
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    a {
        text-decoration: none;
        color: inherit;
    }
}